/**************************************
* Generation: A CSS3 Based framework. *
*      This is Generation 1.0         *
**************************************/

/* Natural Color Pallete */

.color-natural-red {background-color: #F31212; color: #FFF;}
.color-natural-green {background-color: #12A312; color: #000;}
.color-natural-blue {background-color: #1212F3; color: #FFF;}

.color-natural-yellow {background-color: #F3F312; color: #000;}
.color-natural-magenta {background-color: #A312A3; color: #FFF;}
.color-natural-cyan {background-color: #12A3A3; color: #000;}
.color-natural-pink {background-color: #FF12FF; color: #000;}
.color-natural-purple {background-color: #700A90; color: #FFF;}

.color-natural-deepred {background-color: #FF0A0A; color: #000;}
.color-natural-ember {background-color: #AC1A1A; color: #FFF;}
.color-natural-darkred {background-color: #AA0A0A; color: #FFF;}
.color-natural-deepblue {background-color: #0A0AFF; color: #FFF;}
.color-natural-indigo {background-color: #18207A; color: #FFF;}
.color-natural-darkblue {background-color: #0A0AAA; color: #FFF;}
.color-natural-deepgreen {background-color: #0AAA0A; color: #000;}
.color-natural-teal {background-color: #004D40; color: #FFF;}
.color-natural-darkgreen {background-color: #056605; color: #FFF;}

.color-natural-grey {background-color: #888; color: #000;}
.color-natural-bluegrey {background-color: #88A; color: #000;}
.color-natural-greengrey {background-color: #8A8; color: #000;}
.color-natural-redgrey {background-color: #A88; color: #000;}
.color-natural-middlegrey {background-color: #555; color: #FFF;}

.color-natural-orange {background-color: #FF9800; color: #000;}
.color-natural-brown {background-color: #795548; color: #000;}
.color-natural-deeporange {background-color: #FF5722; color: #FFF;}
.color-natural-deepbrown {background-color: #3E2723; color: #FFF;}

.color-natural-white {background-color: #FFF; color: #000;}
.color-natural-black {background-color: #000; color: #FFF;}
.color-natural-accent {background-color: #; color: #000;}
.color-natural-outset {background-color: #FFF; color: #000;}

